<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>LOGIN!</title>
    </head>
    <body>
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        Hello paginaprotegida!

    </body>
</html>